<%- include('header'); -%>

<div class="aboutMid">
   <h2><u>ABOUT US</u></h2>
   <p><b>Task Tracking project created using NodeJS, EJS, ExpressJS, HTML, CSS</b></p>
   <p>Check out Source Code on <a href="https://github.com/pranav043/taskTracker" target="_blank">Github</a></p>
   <form action="/" class="midButton">
      <input class="midButtons midButton" type="submit" value="Go back"/>
  </form>
</div>
</html>