<%- include('header'); -%>

<div class="aboutMid">
   <h2><u>ABOUT US</u></h2>
   <p><b>Task Tracking project created using NodeJS, EJS, ExpressJS, HTML, CSS</b></p>

   <form action="/" class="midButton">
      <input class="midButtons midButton" type="submit" value="Go back"/>
  </form>
</div>
</html>